<div class="w-screen h-[8%] bg-[#a65dea] flex items-center justify-between">
  <a routerLink="/" class="ml-6 text-white font-medium text-2xl"
    >Pokemon world</a
  >
  <div class="flex links text-sm mr-5">
    <div class="linkedin flex justify-center items-center mr-5">
      <img
        src="assets/icons/linkedin-icon.png"
        class="w-5 h-5 mr-1"
        alt="linkedin icon"
      />
      <a
        href="https://www.linkedin.com/in/abror-mukhammadiev-a74b9a205/"
        class="text-blue-200 hover:text-blue-700"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </div>

    <div class="github flex items-center">
      <img
        src="assets/icons/github-icon.png"
        class="w-5 h-5 mr-1"
        alt="github icon"
      />
      <a
        href="https://github.com/abrorm3"
        class="text-blue-200 hover:text-blue-700"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
